body {
    text-align: center;
}

body div.container {
	width: 500px;
	height: 120px;
	margin-left: calc(50% - 250px);
	margin-top: 200px;

	border: 1px solid black;
	border-radius: 4px;
}